Thumbs.db
ehthumbs.db

Desktop.ini

CMakeSettings.json

lib/_redist
lib/binaries/

build

.vs
.vscode

document/OctoonAPI/Doxyfile
document/OctoonAPI/html
document/OctoonAPI/latex
document/OctoonAPI/OctoonAPI.chm
document/OctoonAPI/*.tmp
/lib/system/materials
