
*.opendb
*.sln
*.vcxproj
*.filters
*.obj
*.lastbuildstate
*.tlog
*.user
*.ini
*.log
*.pdb
*.lib
*.exe
*.ilk
*.dll
*.exp
*.db
*.jpg
*.cache
*.mtl
*/OutputImages/*
*/ReferenceImages/*
*/cache/*.bin

build/

.vs/
CMakeSettings.json
CppProperties.json